:root{
    --cor-fundo: #000000 ;
    --cor-principal: #3c2847 ;
    --cor-secundaria: #7b66a3; 
    --cor-destaque: #73477e;
    --cor-texto: #c9b0d4;

}
body {
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.caixa-principal{
    background-color: var(--cor-principal);
    width: 700%;
    max-width: 700px;
    border-radius: 30px;
    text-align: center;
    padding: 60px;
}

h1{
    color: var(--cor-destaque);
}

button {
    background-color: var(--cor-secundaria);
    color: var(--cor-texto);
    border: none;
    border-radius: 30px;
    padding: 20px;
    transition: background-color 0.3s;
}

button:hover{
    background-color: var(--cor-destaque);
    color: var(--cor-principal);
}